
.add-book-container {
    height:fit-content;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:goldenrod;
    border-radius: 5px;
    
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #fff;
      font-family: Arial, sans-serif,;
      font-size: 24px;
    }
  
    h3 {
        text-align: left;
        margin-bottom: 20px;
        color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif,;
        font-size: 18px;
      }


    .form-group {
      margin-bottom: 20px;
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #000;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
    }
  
    button {
      display: block;
      width: 100%;
      padding: 10px;
      // 
      background-color:rgba(74, 93, 103, 0.643);
      color:white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-family: Arial, sans-serif;
      font-size: 18px;
  
      &:hover {
        background-color: rgb(59, 61, 52);
      }
    }
  
    .success-message {
      margin-top: 20px;
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      color: #000;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 14px;
  
      p {
        margin-bottom: 5px;
      }
    }
  }
  